<div class  ="container" id="home-container">
    <div class="jumbotron jumbotron-fluid text-white jumbotron-image shadow text-center">

            <h1 class="display-4">Alpha-Rails-Blog</h1>
            <p class="lead">
                This is a blog page building with rails 6.
            </p>

            <%= link_to 'Sign Up!', signup_path, class: 'btn btn-success btn-lg' %>
        </a>
    </div>
</div>


